#music {
    cursor: pointer;
}

#logo {
    cursor: pointer;
}

/* luffy svg */
#luffy {
    cursor: pointer;
}

.music-note {
    cursor: pointer;
    animation: shake 1s infinite;
}

@keyframes shake {
    0% {
        transform: skewX(-1deg);
    }

    5% {
        transform: skewX(1deg);
    }

    10% {
        transform: skewX(-1deg);
    }

    15% {
        transform: skewX(1deg);
    }

    20% {
        transform: skewX(0deg);
    }

    100% {
        transform: skewX(0deg);
    }
}

/* record player svg */
#record-player {
    cursor: pointer;
}

#disc {
    cursor: pointer;
    animation: spinDisc 3s linear infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    animation-play-state: paused;
}

svg:hover #disc {
    animation-play-state: running;
}

@keyframes spinDisc {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* location svg */
#location {
    cursor: pointer;
}

#pin {
    animation: spinY 2s linear infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    animation-play-state: paused;
}

svg:hover #pin {
    animation-play-state: running;
}

@keyframes spinY {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

/* hat svg */
#hat {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#hat:hover {
    transform: rotate(-30deg);
}

/* #hat{
    cursor: pointer;
    animation: moveUpDown 1s linear;
    animation-play-state: paused;
}

svg:hover #hat{
    animation-play-state: running;
}

@keyframes moveUpDown {
    from{
        transform: rotate(0deg);
      }
      to{
        transform: rotate(-25deg);
      }
    
} */

.column {
    display: flex;
    justify-content: center;
    float: left;
    width: 33.33%;
    height: 300px;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

object {
    padding: 1em;
    width: 70%
}

@media screen and (max-width : 768px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width : 480px) {
    .column {
        width: 100%;
    }
}