/*** ANIMATIONS ***/
/* luffy svg */
.music-notes {
    animation: shake 1s infinite;
}

@keyframes shake {
    0% {
        transform: skewX(-1deg);
    }

    5% {
        transform: skewX(1deg);
    }

    10% {
        transform: skewX(-1deg);
    }

    15% {
        transform: skewX(1deg);
    }

    20% {
        transform: skewX(0deg);
    }

    100% {
        transform: skewX(0deg);
    }
}

/* sound button */
#sound {
    cursor: pointer;
}

/*  sound icon */
.wrapper {
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

.btn {
    position: absolute;
    cursor: pointer;
    width: 80px;
    height: 80px;
    background: #AF0B0F;
    text-align: center;
    border-radius: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle1 {
    z-index: 0;
    width: 100px;
    height: 100px;
    background: #C2564F;
    border-radius: 200px;
    animation: pulse 3s ease both infinite;
}

.circle2 {
    z-index: 0;
    width: 120px;
    height: 120px;
    background: #C2564F;
    border-radius: 200px;
    opacity: 0.6;
    animation: pulse 3s ease both infinite;
    animation-delay: 200ms;
}

.material-icons.md-32 {
    font-family: 'Material Icons';
    font-weight: normal;
    color: white;
    font-style: normal;
    font-size: 48px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1.6;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}



@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    20% {
        transform: scale(1);
        opacity: 0.3;
    }

    50% {
        transform: scale(0.5);
        opacity: 0;

    }

    70% {
        transform: scale(1);
        opacity: 0.3;
    }

    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}

/*** TEXT/IMAGES ***/

body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #FFFFFF;
    overflow-y: scroll;
}

/* movie title */
h1 {
    font-family: 'Playfair Display';
    color: #FFFFFF;
    text-shadow:
        3px 3px 0 #AF0B0F,
        -1px -1px 0 #AF0B0F,
        1px -1px 0 #AF0B0F,
        -1px 1px 0 #AF0B0F,
        1px 1px 0 #AF0B0F;
}

/* date and time */
h2 {
    font-family: 'Lato';
    font-style: normal;
    color: #FFFFFF;
    text-shadow: -1px 1px 2px #000,
        1px 2px 6px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

/* tickets */
h3 {
    font-family: 'Lato';
    font-style: normal;
    color: #FFFFFF;
    text-shadow: -1px 1px 2px #0000FF,
        1px 2px 6px #0000FF,
        1px -1px 0 #0000FF,
        -1px -1px 0 #0000FF;
}

/* h3:hover{
    color: #0000FF;
} */

/* location */
p,
footer {
    font-family: 'Lato';
    font-style: normal;
    color: #FFFFFF;
    text-shadow: -1px 1px 2px #000,
        1px 2px 6px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.svg {
    position: relative;
    display: inline-block;
}

a.svg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parent {
    text-align: center;
    white-space: nowrap;
}

.child {
    display: inline-block;
    vertical-align: middle;
}

.wholeDiv {
    text-align: center;
}

.column {
    width: 320px;
}

object {
    width: 300px;
    height: 300px;
    padding: 1rem
}

.text {
    display: flex;
    flex-direction: wrap;
    align-items: start;
}

/*** MEDIA QUERIES ***/
/* mobile */
@media (min-width: 320px) {
    .text {
        display: block;
        line-height: 1.2;
    }

    .column {
        display: inline-block;
    }

    .logo {
        width: 80px;
        height: 80px;
        margin-top: 37px;
    }

    /* position:relative;
    margin: 0 auto;
    height:200px;
    width:200px; */

    h1,
    h2,
    h3 {
        text-align: center;
    }

    p {
        font-family: Lato;
        font-size: 20px;
        font-weight: 700;
        line-height: 12px;
        text-align: left;
    }

    h3 {
        font-family: Lato;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: center;
    }

    #sound {
        width: 50px;
        height: 50px;
    }

    .location {
        width: 60px;
        height: 60px;
    }

    .hat {
        width: 100px;
        height: 36px;
    }

    .luffy {
        width: 271px;
        height: 574px;
    }

    .body {
        overflow-y: scroll;
    }

    .ticket {
        visibility: visible;
    }
}

/* tablet */
@media (min-width: 768px) {
    .text br:nth-child {
        display: none;
    }

    .row {
        white-space: nowrap;
    }

    .column {
        display: inline-block;
    }

    .pirateLogo {
        position: absolute;
        top: 0;
        left: 5%;
    }

    h1,
    h2,
    h3 {
        text-align: center;
    }

    .luffy {
        height: 642px;
        width: 303px;
        left: 232px;
        top: 380px;
    }

    .soundLogo {
        position: absolute;
        top: 0;
        right: 0;
    }

    .body {
        overflow-y: hidden;
    }

    .ticket {
        visibility: visible;
    }
}

/* desktop */
@media (min-width: 1280px) {
    .wholeDiv {
        display: flex;
        flex-direction: column;
        height: 97vh;
    }

    .pirateLogo {
        position: absolute;
        top: 5%;
        left: 10%;
    }

    .soundLogo {
        position: absolute;
        top: 5%;
        right: 3%;
    }

    .title {
        position: absolute;
        top: 10%;
        left: 33%;
    }

    .date {
        position: absolute;
        top: 70%;
        left: 15%;
    }

    h1 {
        font-family: 'Playfair Display';
        font-size: 50px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: center;
    }

    h2,
    h3 {
        font-size: 36px;
    }

    .luffy {
        position: absolute;
        width: 323px;
        height: 715px;
        left: 155px;
        top: 292px;
    }

    .wholeAMC {
        position: absolute;
        left: 40%;
        top: 35%;
    }


    .body {
        overflow-y: hidden;
    }

    .text {
        font-size: 32px;
    }

    .location {
        width: 100px;
        height: 100px;
    }

    /* location svg */
    #location {
        cursor: pointer;
    }

    #pin {
        animation: spinY 2s linear infinite;
        transform-origin: 50% 50%;
        transform-box: fill-box;
        animation-play-state: paused;
    }

    svg:hover #pin {
        animation-play-state: running;
    }

    @keyframes spinY {
        from {
            transform: rotateY(0deg);
        }

        to {
            transform: rotateY(360deg);
        }
    }

    .ticket {
        position: absolute;
        left: 62%;
        top: 62%;
        transition: all ease-in-out;
        visibility: hidden;
    }

    .hat {
        margin-left: 30%;
        margin-top: 170%;
        width: 230px;
        height: 230px;
        z-index: 2;
    }

    /* hat svg */
    .hat {
        cursor: pointer;
        transition: transform 0.5s ease-in-out;
        transform: rotate(0deg);
    }

    .hat:hover {
        transform: rotate(-30deg);
    }
}