/*** ANIMATIONS ***/
/* luffy svg */
.music-notes {
    animation: shake 1s infinite;
}

@keyframes shake {
    0% {
        transform: skewX(-1deg);
    }

    5% {
        transform: skewX(1deg);
    }

    10% {
        transform: skewX(-1deg);
    }

    15% {
        transform: skewX(1deg);
    }

    20% {
        transform: skewX(0deg);
    }

    100% {
        transform: skewX(0deg);
    }
}

/* location svg */
#location {
    cursor: pointer;
}

#pin {
    animation: spinY 2s linear infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    animation-play-state: paused;
}

svg:hover #pin {
    animation-play-state: running;
}

@keyframes spinY {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

/* hat svg */
#hat {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#hat:hover {
    transform: rotate(-30deg);
}

/*** TEXT/IMAGES ***/

body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #FFFFFF;
}

/* movie title */
h1 {
    font-family: 'Playfair Display';
    color: #FFFFFF;
    text-shadow:
        3px 3px 0 #AF0B0F,
        -1px -1px 0 #AF0B0F,
        1px -1px 0 #AF0B0F,
        -1px 1px 0 #AF0B0F,
        1px 1px 0 #AF0B0F;
}

/* date and time */
h2 {
    font-family: 'Lato';
    font-style: normal;
    color: #FFFFFF;
    text-shadow: -1px 1px 2px #000,
        1px 2px 6px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

/* tickets */
h3 {
    font-family: 'Lato';
    font-style: normal;
    color: #FFFFFF;
    text-shadow: -1px 1px 2px #0000FF,
        1px 2px 6px #0000FF,
        1px -1px 0 #0000FF,
        -1px -1px 0 #0000FF;
}

/* h3:hover{
    color: #0000FF;
} */

/* location */
p {
    font-family: 'Lato';
    font-style: normal;
    color: #FFFFFF;
    text-shadow: -1px 1px 2px #000,
        1px 2px 6px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

a.svg {
    position: relative;
    display: inline-block;
}

a.svg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parent{
    text-align: center;
    white-space: nowrap;
}

.child{
    display: inline-block;
    vertical-align: middle;
}

.wholeDiv {
    text-align: center;
}

.column {
    width: 320px;
}

object {
    width: 300px;
    height: 300px;
    padding: 1rem
}

.text {
    display: flex;
    flex-direction: wrap;
    align-items: start;
  }

/*** MEDIA QUERIES ***/

/* @media (min-width: 620px) {
    .column {
        display: inline-block;
    }
} */
/* mobile */
@media (min-width: 320px) {
    .text{
        display: block;
        line-height: 1.2;
    }
    .column {
        display: inline-block;
    }

    .logo {
        width: 50px;
        height: 50px;
        margin-top: 37px;
    }

    h1, h2, h3, p {
        text-align: center;
    }
    p{
        font-family: Lato;
        font-size: 20px;
        font-weight: 700;
        line-height: 12px;
        text-align: left;
    }

    h3{
        font-family: Lato;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: center;
    }

    .sound {
        width: 50px;
        height: 50px;
    }

    .location {
        width: 60px;
        height: 60px;
    }

    .hat {
        width: 100px;
        height: 36px;
    }

    .luffy {
        width: 271px;
        height: 574px;
    }
}

/* tablet */
@media (min-width: 768px) {
    .text br:nth-child{
        display: none;
    }

    .row{
        white-space: nowrap;
    }

    .column {
        display: inline-block;
    }

    .logo {
        height: 60px;
        width: 60px;
    }

    h1, h2, h3{
        text-align: center;
    }

    .luffy{
        height: 642px;
        width: 303px;
        left: 232px;
        top: 380px;
    }

    .sound-on{
        height: 60px;
        width: 60px;
    }
}

/* desktop */
@media (min-width: 1280px) {

}