.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

object{
    max-width: 300px;
    max-height: 300px;
    padding: 1rem;
}

@media screen and (min-width : 1280px) {
    .images{
        margin: 0 10rem 0;
    }  
}